{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>СайтоДел</title>

    <meta name="description" content="Создание сайтов под ключ. Профессиональные услуги по разработке сайтов для вашего бизнеса.">
    <meta name="keywords" content="создание сайтов, веб-дизайн, разработка сайтов, веб-разработка, создание сайтов под ключ">

    {% compress css %}
        <link rel="stylesheet" href="{% static 'scss/base/landing.scss' %}" type='text/x-scss'>
    {% endcompress %}

    <link rel="stylesheet" href="{% static 'css/base/landing.css' %}">

    <script src="{% static 'packages/jquery.min.js' %}"></script>

    <style>

        @font-face {
            font-family: PDI;
            src: url("{% static 'fonts/PlayfairDisplay-Italic.ttf' %}");
        }

        @font-face {
            font-family: YOR;
            src: url("{% static 'fonts/YesevaOne-Regular.ttf' %}");
        }

        body, button, input {
            font-family: YOR;
        }

    </style>

</head>

<body>

    <header>

        <a href="/">
            <div class="logo"></div>
        </a>

        <nav class="section-links">

            <ul>

                <a href="#general" class="section-link-link">

                    <li class="section-link"><span>Главная</span></li>

                </a>

                <a href="#portfolio" class="section-link-link">

                    <li class="section-link"><span>Наши работы</span></li>

                </a>

                <a>

                    <li class="section-link"><span>Цены</span></li>

                </a>

            </ul>

        </nav>

        <div class="contact-btn">

            <button id="contactBtn">Обратный звонок</button>

        </div>
        
    </header>

    <div id="contactForm">

        <div class="contact-form-wrapper">

            <button id="closeContactForm">×</button>

            <div class="form">

                <input 
                    type="text"
                    id="clientName"
                    placeholder="Ваше имя">

                <input 
                    type="text"
                    id="clientPhone"
                    placeholder="+7-888-888-88-88"
                    value="+7">

                <button type="button" id="sendFormBtn">Отправить</button>

            </div>

        </div>

    </div>

    <div class="background-circle"></div>

    <div class="body">

        <div class="s1" id="general">

            <div class="content">

                <div class="text">

                    <h1 class="head1">Создание сайтов под ключ</h1>
                    <h2 class="desc1">Быстро и  качественно разработаем ваш сайт</h2>
                    <button id="ctaBtn">Заказать сайт</button>

                </div>

            </div>

        </div>

        <div class="s2" id="portfolio">

            <div class="content2">

                <div class="text2">

                    <h1>Наши работы</h1>

                </div>
            
                <div class="portfolio-works">

                    <button id="previousWork" class="portfolio-control">
                        
                        <svg class='portfolio-control-svg' xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none">
                            <path d="M14.9991 19L9.83911 14C9.56672 13.7429 9.34974 13.433 9.20142 13.0891C9.0531 12.7452 8.97656 12.3745 8.97656 12C8.97656 11.6255 9.0531 11.2548 9.20142 10.9109C9.34974 10.567 9.56672 10.2571 9.83911 10L14.9991 5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </button>
                    
                    <div class="portfolio-work">



                    </div>

                    <button id="nextWork" class="portfolio-control">→</button>

                </div>

            </div>

        </div>

    </div>

    <section class="pricing">
        <h2>Цены и тарифы</h2>
        <div class="plan">
            <h3>Лендинг</h3>
            <p>7 тыс. руб.</p>
            <p>Срок разработки: 1 неделя</p>
        </div>
        <div class="plan">
            <h3>Многостраничный сайт</h3>
            <p>14 тыс. руб.</p>
            <p>Срок разработки: 2 недели</p>
        </div>
        <div class="plan">
            <h3>Интернет-магазин</h3>
            <p>22 тыс. руб.</p>
            <p>Срок разработки: 3 недели</p>
        </div>
        <div class="plan">
            <h3>Приложение</h3>
            <p>33 тыс. руб.</p>
            <p>Срок разработки: 1 месяц</p>
        </div>
    </section>

    <section class="features">
       
    </section>


    <footer>
        <nav class="footer-nav">
            <a href="#about">О нас</a>
            <a href="#blog">Блог</a>
            <a href="#privacy">Политика конфиденциальности</a>
        </nav>
        <div class="copyright">
            &copy; 2024 СайтоДел
        </div>
    </footer>

    <script>

        $('#ctaBtn, #contactBtn').click(function() {

            btn = $(this);

            btn.addClass('in');

            setTimeout(function() {

                btn.removeClass('in');

            }, 250);


            $('#contactForm').css('display', 'flex');
            

        });

    </script>

    <script>

        $('#sendFormBtn').click(function() {

            name = $('#clientName').val();
            phone = $('#clientPhone').val();

            $.ajax({

                type: 'POST',

                url: "/c",

                data: {

                    'csrfmiddlewaretoken': "{{ csrf_token }}",

                    'n': name,
                    'p': phone,

                },

            });

        });

    </script>

    <script>

        document.querySelectorAll('.section-link-link').forEach(anchor => {
                anchor.addEventListener('click', function (e) {
                    e.preventDefault();
    
                    document.querySelector(this.getAttribute('href')).scrollIntoView({
                        behavior: 'smooth'
                    });
                });
            });
    
    </script>

</body>



</html>